:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --lightcream: #ececec;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --footerlinks: #ffffff99;
  --productborder: #eeeeee;
  --iconcolor: #afb1b8;
  --footericon: rgba(255, 255, 255, 0.1);
  --background: rgba(47, 48, 58, 0.4);
}
* {
  box-sizing: border-box;
}
/* Styles for whole website */
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--grey);
  background-color: var(--lightgrey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: var(--white);
  width: 100%;
  margin: 0 auto;
}
.social-link .link:hover,
.social-link .link:focus,
.blue-text:hover,
.blue-text:focus {
  color: var(--blue);
}
.footer-link:hover,
.footer-link:focus,
.blue-text:hover,
.blue-text:focus {
  color: var(--blue);
}

.text-decoration {
  text-decoration: none;
}
.normal-text {
  font-style: normal;
}
.white-point {
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.footer-icon:hover,
.footer-icon:focus,
.team-card-icon:hover,
.team-card-icon:focus {
  background-color: var(--blue);
  fill: var(--white);
  cursor: pointer;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* Styles for header section */
.header {
  display: flex;
  background: var(--white);
  align-items: center;
}
.header-line {
  border-bottom: 1px solid var(--lightgrey);
}
.header-title {
  color: var(--black);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.nav {
  margin-right: 371px;
}
.social-link {
  display: flex;
  margin-right: 46px;
}
.social-link > .item:not(:last-child) {
  margin-right: 46px;
}
.social-link .link {
  text-decoration: none;
}
.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--notblack);
}
.blue-text {
  color: var(--blue);
}
.contacts-header {
  color: var(--grey);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-header > .contacts-header:not(:last-child) {
  margin-right: 46px;
}
.contact-header {
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts-header:hover,
.contacts-header:focus,
.blue-text:hover,
.blue-text:focus {
  color: var(--blue);
}
.icon-header:hover,
.icon-header:focus {
  fill: var(--blue);
}

.icon-header {
  fill: var(--grey);
  display: flex;
  flex-direction: row;
}
.icon-space {
  margin-right: 10px;
}
/* Styles for Studio main section*/
/* 1. button section */
.button-section {
  background-color: var(--darkgrey);
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(/images/img-button.jpg);
  background-size: 1600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin: 0px;
  padding-top: 200px;
  padding-bottom: 30px;
}
.main-button {
  width: 200px;
  height: 50px;
  background: var(--blue);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 200px;
}
.button-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
}

/* 2. Article section- our work */
.article-text {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.article-text-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--notblack);
  margin-bottom: 10px;
}
.article-icon {
  background-color: var(--notwhite);
  border-radius: 4px;
  height: 120px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.short-article-text {
  width: 270px;
  height: 75px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.article-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--notblack);
  margin: 0%;
}
.section-our-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0%;
  padding-left: 0px;
  padding-top: 50px;
  padding-bottom: 94px;
}
/* 3. Our team section */

.section-ourteam {
  background: var(--notwhite);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-ourteam-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--notblack);
  margin: 0;
  padding-top: 94px;
}
.our-team {
  margin-top: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 30px;
  padding-bottom: 94px;
  margin: 0;
}
.our-team-box {
  width: 270px;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
}
.our-team-person {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}
.our-team-person-name {
  font-weight: 500px;
  color: var(--notblack);
}
.icon-team {
  display: flex;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.icon-team-link {
  fill: var(--iconcolor);
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
}
.icon-team-link:hover {
  fill: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

/* /* Our clients section */
.section-ourclients {
  padding-top: 94px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section-ourclients-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--notblack);
  margin: 0;
  padding-bottom: 50px;
}
.icons-ourclient {
  padding-bottom: 94px;
}
.icons-logos {
  list-style: none;
  display: flex;
  gap: 30px;
}
.icon-ourclient {
  border: 1px solid var(--iconcolor);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: var(--iconcolor);
}
.icon-ourclient:hover {
  cursor: pointer;
  fill: var(--blue);
  border: 1px solid var(--blue);
}
/* Styles for footer section */
.footer {
  background-color: var(--darkgrey);
}
.footer-container {
  display: flex;
}
.footer-row {
  flex-direction: column;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: left;
}
.footer-row-icons {
  flex-direction: column;
  margin: 0;
  padding-top: 72px;
  padding-left: 70px;
}
.footer-icon {
  width: 44px;
  height: 44px;
  background-color: var(--footericon);
  border-radius: 50%;
  fill: var(--white);
}
.address {
  font-style: normal;
}
.logo-style {
  color: var(--white);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-link {
  color: var(--footerlinks);
}
.footer-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
.footer-icons {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 10px;
}

/* Styles for PORTFOLIO main section*/
.address {
  color: var(--white);
}
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
  list-style: none;
  padding: 0;
}
.filter-button {
  background-color: var(--notwhite);
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border-radius: 3px;
  padding: 6px 22px;
  font-family: "Roboto";
}
.filter-button:focus,
.filter-button:hover {
  box-shadow: 0px 2px 2px rgba(000, 000, 000, 0.3);
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.all-product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}
.product-card {
  border: var(--productborder) solid 1px;
  width: 370px;
  height: 404px;
  flex-basis: calc((100% - 90px) / 4);
  margin: 0;
}
.product-card-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--darkgrey);
  margin-bottom: 4px;
}
.product-card-text {
  line-height: 1.88;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--grey);
  text-align: left;
  margin: 0;
}
.all-product-cards .item-cards {
  display: block;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.portfolio-text-box {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: left;
  gap: 4px;
}
.item-cards:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
