:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --lightcream: #ececec;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --footerlinks: #ffffff99;
  --productborder: #eeeeee;
  --iconcolor: #afb1b8;
  --footericon: rgba(255, 255, 255, 0.1);
  --background: rgba(47, 48, 58, 0.4);
  --backgroundmodal: rgba(000, 000, 000, 0.2);
}
* {
  box-sizing: border-box;
}
/* Styles for whole website */
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--grey);
  background-color: var(--lightgrey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: var(--white);
  width: 100%;
  margin: 0 auto;
}
.social-link .link:hover,
.social-link .link:focus,
.blue-text:hover,
.blue-text:focus {
  color: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus,
.blue-text:hover,
.blue-text:focus {
  color: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-decoration {
  text-decoration: none;
}
.normal-text {
  font-style: normal;
}
.white-point {
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.footer-icon:hover,
.footer-icon:focus,
.team-card-icon:hover,
.team-card-icon:focus {
  background-color: var(--blue);
  fill: var(--white);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* Styles for header section */
.header {
  display: flex;
  background: var(--white);
  align-items: center;
}
.header-line {
  border-bottom: 1px solid var(--lightgrey);
}
.header-title {
  color: var(--black);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.nav {
  margin-right: 371px;
}
.social-link {
  display: flex;
  margin-right: 46px;
}
.social-link > .item:not(:last-child) {
  margin-right: 46px;
}
.social-link .link {
  text-decoration: none;
}
.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--notblack);
}
.blue-text {
  color: var(--blue);
}
.contacts-header {
  color: var(--grey);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-header > .contacts-header:not(:last-child) {
  margin-right: 46px;
}
.contact-header {
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts-header:hover,
.contacts-header:focus,
.blue-text:hover,
.blue-text:focus {
  color: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-header:hover,
.icon-header:focus {
  fill: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-header {
  fill: var(--grey);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-space {
  margin-right: 10px;
}
.item {
  position: relative;
}
.active-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  top: 28px;
  left: 0;
  background-color: var(--blue);
  transform: translateY(9px);
  border-radius: 2px;
  position: absolute;
}

/* Styles for Studio main section*/
/* 1. button section */
.button-section {
  background-color: var(--darkgrey);
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../images/imgbutton.jpg);
  background-size: 1600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin: 0px;
  padding-top: 200px;
  padding-bottom: 30px;
}
.main-button {
  width: 200px;
  height: 50px;
  background: var(--blue);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 200px;
}
.button-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
}

/* 2. Article section- our work */
.article-text {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.article-text-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--notblack);
  margin-bottom: 10px;
}
.article-icon {
  background-color: var(--notwhite);
  border-radius: 4px;
  height: 120px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.short-article-text {
  width: 270px;
  height: 75px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.article-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--notblack);
  margin: 0%;
}
.section-our-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0%;
  padding-left: 0px;
  padding-top: 50px;
  padding-bottom: 94px;
}
.list-our-work {
  position: relative;
  display: flex;
  justify-content: center;
}
.text-our-work {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 90px;
  margin: 0;
  position: absolute;
  top: 224px;
  left: 0;
  width: 100%;
}
/* 3. Our team section */

.section-ourteam {
  background: var(--notwhite);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-ourteam-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--notblack);
  margin: 0;
  padding-top: 94px;
}
.our-team {
  margin-top: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 30px;
  padding-bottom: 94px;
  margin: 0;
}
.our-team-box {
  width: 270px;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
}
.our-team-person {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}
.our-team-person-name {
  font-weight: 500px;
  color: var(--notblack);
}
.icon-team {
  display: flex;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.icon-team-link {
  fill: var(--iconcolor);
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
}
.icon-team-link:hover {
  fill: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* /* Our clients section */
.section-ourclients {
  padding-top: 94px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section-ourclients-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--notblack);
  margin: 0;
  padding-bottom: 50px;
}
.icons-ourclient {
  padding-bottom: 94px;
}
.icons-logos {
  list-style: none;
  display: flex;
  gap: 30px;
}
.icon-ourclient {
  border: 1px solid var(--iconcolor);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: var(--iconcolor);
}
.icon-ourclient:hover {
  cursor: pointer;
  fill: var(--blue);
  border: 1px solid var(--blue);
}
/* Styles for footer section */
.footer {
  background-color: var(--darkgrey);
}
.footer-container {
  display: flex;
}
.footer-row {
  flex-direction: column;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: left;
}
.footer-row-icons {
  flex-direction: column;
  margin: 0;
  padding-top: 72px;
  padding-left: 70px;
}
.footer-icon {
  width: 44px;
  height: 44px;
  background-color: var(--footericon);
  border-radius: 50%;
  fill: var(--white);
}
.address {
  font-style: normal;
}
.logo-style {
  color: var(--white);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-link {
  color: var(--footerlinks);
}
.footer-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
.footer-icons {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 10px;
}

/* section newsletter (footer) */

.newsletter {
  align-items: center;
  justify-content: center;
  padding-left: 78px;
  padding-top: 60px;
}
.newsletter-title {
  color: var(--white);
  width: 207px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 14px;
  margin-bottom: 20px;
  padding-bottom: 14px;
}

.newsletter-signup {
  gap: 12px;
}
.sign-up {
  background-color: var(--darkgrey);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  padding-left: 16px;
}
.sign-up:focus {
  border: 1px solid rgba(33, 150, 243, 0);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--lightcream);
}

.button-newsletter {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  width: 200px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 15px;
  padding-top: 10px;
  margin-left: 12px;
  margin-top: 122px;
}
.newsletter-icon {
  background-color: var(--blue);
  width: 30px;
  height: 30px;
  fill: var(--white);
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Styles for PORTFOLIO main section*/
.address {
  color: var(--white);
}
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
  list-style: none;
  padding: 0;
}
.filter-button {
  background-color: var(--notwhite);
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border-radius: 3px;
  padding: 6px 22px;
  font-family: "Roboto";
}
.filter-button:focus,
.filter-button:hover {
  box-shadow: 0px 2px 2px rgba(000, 000, 000, 0.3);
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.all-product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}
.product-card {
  border: var(--productborder) solid 1px;
  width: 370px;
  height: 404px;
  flex-basis: calc((100% - 90px) / 4);
  margin: 0;
  position: relative;
  overflow: hidden;
}
.overflow {
  overflow: hidden;
  position: relative;
  width: 370px;
  height: 294px;
}
.product-card:hover .overlay {
  transform: translatex(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(100%);
  transition: transform 300ms ease;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  width: 368px;
  height: 294px;
  left: 0;
  top: 0;
  display: inline-block;
  background-color: var(--blue);
  color: var(--white);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 49px 45px 49px 25px;
  opacity: 90%;
}

.product-card-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--darkgrey);
  margin-bottom: 4px;
}
.product-card-text {
  line-height: 1.88;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--grey);
  text-align: left;
  margin: 0;
}
.all-product-cards .item-cards {
  display: block;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.portfolio-text-box {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: left;
  gap: 4px;
}
.item-cards:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* STYLES FOR MODAL WINDOW */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundmodal);
  top: 0;
  left: 0;
  transition: all 250ms ease-in;
}
.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  background-color: var(--white);
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 12px;
}
.close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
}
.close-button:hover {
  color: var(--blue);
  border: 1px solid var(--blue);
  transform: scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

label {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;
}
.modal-icon {
  background-color: var(--white);
  fill: var(--notblack);
}

/* section comment modal */
.text-area {
  width: 448px;
  height: 40px;
  display: block;
  margin: 4px 0 0 0;
  border-radius: 4px;
  border: rgba(33, 33, 33, 0.2) 1px solid;
  padding: 0 0 0 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-area:hover,
.text-area:focus,
.text-area:active {
  border: var(--blue) 1px solid;
  box-shadow: none;
  outline: none;
}
/* section send button modal */

.send-button {
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px 164px 40px;
  cursor: pointer;
}
.send-button:hover {
  background-color: blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* styles for checkbox section */

.checkbox-privacy {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 8px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 15px;
  background-color: var(--white);
  border: 1px solid var(--darkgrey);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
  margin-top: 4px;
  margin-left: 45px;
  margin-top: 25px;
}
.modal-label-privacy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  display: block;
  padding: 0;
  margin-top: 22px;
}
.privacy-link {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}
input[type="checkbox"]::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  color: var(--white);
  font-size: 9px;
  font-weight: 600;
  display: none;
}
input[type="checkbox"]:hover {
  background-color: var(--notwhite);
  border: 1px solid var(--notblack);
}
input[type="checkbox"]:checked {
  background-color: var(--blue);
  color: #f5f4fa;
  border: var(--blue);
}
input[type="checkbox"]:checked::after {
  display: block;
}
