@import "./utils/variables";
@import "./components/header";
@import "./components/index-main";
@import "./components/footer";
@import "./components/modal";
@import "./components/portfolio";

body {
  color: $primary-text;
  font-family: $standard-font;
  background-color: $background-outside;
  font-size: map-get($font-size, standard);
  letter-spacing: map-get($letter-spacing, standard);
  @include nonspace;
}

.wrapper {
  background-color: $primary-color;
  width: 100%;
  @include center;
}

.container {
  width: 1200px;
  @include center;
  height: 100%;
}
