.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $background-modal;
  top: 0;
  left: 0;
  transition: all 250ms ease-in;
}
.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  left: 50%;
  top: 50%;
  background-color: $primary-color;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: map-get($font-size, modal);
  &__close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    background: $primary-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    text-align: center;

    &:hover {
      color: $hover-text;
      border: 1px solid $hover-text;
      transform: scale(1);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__header {
    font-family: $standard-font;
    font-style: normal;
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, modal-header);
    line-height: 23px;
    text-align: center;
    letter-spacing: map-get($letter-spacing, standard);
    color: $black;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;

    &:hover > &-input,
    &:focus > &-input,
    &:active > &-input {
      border: $hover-text 1px solid;
      box-shadow: none;
      outline: none;
    }
    &:hover > &-icon,
    &:focus > &-icon {
      fill: $hover-text;
    }

    &-input {
      width: 370px;
      height: 40px;
      display: block;
      margin: 4px 0 0 0;
      border-radius: 4px;
      border: $border-color 1px solid;
      padding: 0 0 0 30px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      padding-left: 50px;
    }
    &-icon {
      background-color: $primary-color;
      fill: $secondary-text;
      position: absolute;
      width: 30px;
      height: 25px;
    }
    &-person {
      top: 123px;
      left: 52px;
    }
    &-phone {
      top: 190px;
      left: 52px;
    }
    &-mail {
      top: 257px;
      left: 52px;
    }
    &-text-area {
      width: 370px;
      height: 40px;
      display: block;
      margin: 4px 0 0 0;
      border-radius: 4px;
      border: rgba(33, 33, 33, 0.2) 1px solid;
      padding: 0 0 0 30px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus,
      &:active {
        border: $hover-text 1px solid;
        box-shadow: none;
        outline: none;
      }
    }
    &-comment {
      resize: none;
      width: 370px;
      height: 120px;
      padding: 12px 16px;
      border-radius: 4px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .modal__privacy {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 8px;

    &-checkmark {
      appearance: none;
      -webkit-appearance: none;
      width: 16px;
      height: 15px;
      background-color: $primary-color;
      border: 1px solid $background-footer;
      border-radius: 2px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 3px;
      margin-top: 4px;
      margin-left: 40px;
      margin-top: 13px;

      &::after {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        color: $primary-color;
        font-size: map-get($font-size, checkmark);
        font-weight: map-get($font-weight, checkbox);
        display: none;
      }
      &:hover {
        background-color: $background-card;
        border: 1px solid $secondary-text;
      }
      &:checked {
        background-color: $hover-text;
        color: $background-card;
        border: $hover-text;
      }
      &:checked::after {
        display: block;
      }
    }
    &-label {
      font-family: $standard-font;
      font-style: normal;
      font-weight: map-get($font-weight, regular);
      font-size: map-get($font-size, modal);
      line-height: 24px;
      color: $primary-text;
      display: block;
      padding: 0;
      margin-top: 10px;
    }
    &-link {
      color: $hover-text;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__send-button {
    width: 200px;
    height: 50px;
    background-color: $hover-text;
    color: $primary-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    font-family: $standard-font;
    font-style: normal;
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, enlarged);
    line-height: 30px;
    text-align: center;
    letter-spacing: map-get($letter-spacing, header);
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 31px 125px 40px 125px;
    cursor: pointer;

    &:hover {
      background-color: $submit;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }
  }
}

@media (min-width: 768px) {
  .modal {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: 609px;
    left: 50%;
    top: 50%;
    background-color: $primary-color;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: map-get($font-size, modal);
    &__close-button {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 8px;
      top: 8px;
      background: $primary-color;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      cursor: pointer;
      font-size: 25px;
      text-align: center;

      &:hover {
        color: $hover-text;
        border: 1px solid $hover-text;
        transform: scale(1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    &__header {
      font-family: $standard-font;
      font-style: normal;
      font-weight: map-get($font-weight, bold);
      font-size: map-get($font-size, modal-header);
      line-height: 23px;
      text-align: center;
      letter-spacing: map-get($letter-spacing, standard);
      color: $black;
      margin-top: 40px;
      margin-left: 40px;
      margin-right: 40px;
    }
    &__label {
      display: flex;
      flex-direction: column;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 10px;

      &:hover > &-input,
      &:focus > &-input,
      &:active > &-input {
        border: $hover-text 1px solid;
        box-shadow: none;
        outline: none;
      }
      &:hover > &-icon,
      &:focus > &-icon {
        fill: $hover-text;
      }

      &-input {
        width: 370px;
        height: 40px;
        display: block;
        margin: 4px 0 0 0;
        border-radius: 4px;
        border: $border-color 1px solid;
        padding: 0 0 0 30px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-left: 50px;
      }
      &-icon {
        background-color: $primary-color;
        fill: $secondary-text;
        position: absolute;
        width: 30px;
        height: 25px;
      }
      &-person {
        top: 123px;
        left: 52px;
      }
      &-phone {
        top: 190px;
        left: 52px;
      }
      &-mail {
        top: 257px;
        left: 52px;
      }
      &-text-area {
        width: 370px;
        height: 40px;
        display: block;
        margin: 4px 0 0 0;
        border-radius: 4px;
        border: rgba(33, 33, 33, 0.2) 1px solid;
        padding: 0 0 0 30px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
          border: $hover-text 1px solid;
          box-shadow: none;
          outline: none;
        }
      }
      &-comment {
        resize: none;
        width: 370px;
        height: 120px;
        padding: 12px 16px;
        border-radius: 4px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    .modal__privacy {
      display: flex;
      justify-content: left;
      align-items: left;
      gap: 8px;

      &-checkmark {
        appearance: none;
        -webkit-appearance: none;
        width: 16px;
        height: 15px;
        background-color: $primary-color;
        border: 1px solid $background-footer;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3px;
        margin-top: 4px;
        margin-left: 40px;
        margin-top: 13px;

        &::after {
          content: "\f00c";
          font-family: "Font Awesome 5 Free";
          color: $primary-color;
          font-size: map-get($font-size, checkmark);
          font-weight: map-get($font-weight, checkbox);
          display: none;
        }
        &:hover {
          background-color: $background-card;
          border: 1px solid $secondary-text;
        }
        &:checked {
          background-color: $hover-text;
          color: $background-card;
          border: $hover-text;
        }
        &:checked::after {
          display: block;
        }
      }
      &-label {
        font-family: $standard-font;
        font-style: normal;
        font-weight: map-get($font-weight, regular);
        font-size: map-get($font-size, modal);
        line-height: 24px;
        color: $primary-text;
        display: block;
        padding: 0;
        margin-top: 10px;
      }
      &-link {
        color: $hover-text;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    &__send-button {
      width: 200px;
      height: 50px;
      background-color: $hover-text;
      color: $primary-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: transparent;
      font-family: $standard-font;
      font-style: normal;
      font-weight: map-get($font-weight, bold);
      font-size: map-get($font-size, enlarged);
      line-height: 30px;
      text-align: center;
      letter-spacing: map-get($letter-spacing, header);
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 31px 125px 40px 125px;
      cursor: pointer;

      &:hover {
        background-color: $submit;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;

    &__label-input {
      width: 448px;
    }
    &__label-person {
      top: 99px;
      left: 52px;
    }
    &__label-phone {
      top: 169px;
      left: 52px;
    }
    &__label-mail {
      top: 236px;
      left: 52px;
    }
    &__label-text-area {
      width: 448px;
      height: 40px;
    }
    &__label-comment {
      width: 448px;
      height: 120px;
    }
    &__privacy {
      justify-content: center;
      align-items: center;

      &-checkmark {
        margin-left: 45px;
      }

      &-label {
        font-size: map-get($font-size, standard);
      }
    }
    &__send-button {
      margin: 30px 164px 40px;
    }
  }
}
