.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 8px;
  padding-top: 60px;
  padding-bottom: 40px;
  &__button {
    background-color: $background-card;
    border-width: 0;
    height: 38px;
    font-size: map-get($font-size, enlarged);
    font-weight: map-get($font-weight, medium);
    line-height: 26px;
    border-radius: 3px;
    padding: 6px 22px;
    font-family: $standard-font;
    &:focus,
    &:hover {
      box-shadow: 0px 2px 2px $portfolio-filters;
      background-color: $hover-text;
      color: $primary-color;
      cursor: pointer;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.product__list {
  @include flexcenter(column);
  gap: 30px;
  margin: 50px 0 94px 0;
  padding: 0;

  &-item:hover {
    box-shadow: 0px 1px 1px $portfolio-shadow2, 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px $portfolio-shadow;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-card:hover &-overlay {
    transform: translatex(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-card {
    border: $border solid 1px;
    width: 100%;
    height: 404px;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  &-overflow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 294px;
  }
  &-picture {
    width: 100%;
    height: 294px;
  }
  &-overlay {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translatey(100%);
    transition: transform 300ms ease;
    position: absolute;
    font-family: $standard-font;
    font-style: normal;
    font-weight: map-get($font-weight, regular);
    font-size: map-get($font-size, cardheader);
    line-height: 28px;
    letter-spacing: map-get($letter-spacing, standard);
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    display: inline-block;
    background-color: $hover-text;
    color: $primary-color;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 77px 24px 77px 24px;
    opacity: 90%;
  }
  &-text {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: left;
    gap: 4px;
  }
  &-margin {
    margin: 0;
  }
  &-title {
    font-family: $standard-font;
    font-style: normal;
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, cardheader);
    line-height: 2;
    letter-spacing: map-get($letter-spacing, header);
    color: $background-footer;
    margin-bottom: 4px;
  }
  &-undertitle {
    line-height: 1.88;
    font-size: map-get($font-size, enlarged);
    font-weight: map-get($font-weight, regular);
    letter-spacing: map-get($letter-spacing, standard);
    text-align: left;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .filter {
    justify-content: center;
  }
  .product__list {
    @include flexcenter(row);
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 0 94px 0;
    padding: 0;

    &-card {
      width: 354px;
      height: 440px;
    }
    &-overflow {
      width: 354px;
    }
    &-picture {
      max-width: 450px;
      min-width: 354px;
      width: 100%;
    }
    &-overlay {
      width: 100%;
      height: 294px;
      padding: 49px 24px 49px 24px;
    }
  }
}
@media (min-width: 1200px) {
  .product__list-card {
    flex-basis: calc((100% - 90px) / 4);
  }
}
